<IfModule mod_rewrite.c>
    RewriteEngine On

    # Base del proyecto (ajustada exactamente a tu ruta)
    RewriteBase /SystemPosV1/public/

    # Ignorar archivos y carpetas existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Enrutar todo a index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
